

@import "_variables.scss";

* {
  font-size: 16px; }

body {
  background-color: #fff; }

h1 {
  color: #bf9b30;
  font-family: $main-font; }

p {
  color: #2c2a28;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

li {
  text-decoration: none; }

a {
  text-decoration: none;
  font-family: $main-font; }

span {
  font-family: $main-font; }

button {
  background: none;
  outline: none;
  border: none; }
