
//  Google Fonts import
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900");

$main-font: "Playfair Display", "serif", "Helvatica";

// Color Variables
$main-gold: #bf9b30;
$main-dark-grey: #2c2a28;
$main-white: #ffffff;

